
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2); /* Scale up to 120% */
  }
  70%{
    transform: scale(1.5); /* Scale up to 110% */
  }
  100% {
    transform: scale(1); /* Scale back to original size */
  }
}
